{{#each cardsArray}}
<div class="col{{#if this.alreadyAdd}} selected{{/if}}">
  <div id="{{this.id}}" class="card h-100 border-no-radius">
    <img class="card-img-top poster-aspect-ratio" src="{{this.image.webp.default}}" alt="{{this.title.default}}">
    </img>
    <div class="card-header text-truncate" data-bs-toggle="tooltip" data-bs-title="{{this.title.default}}">
      {{this.title.default}}</div>
    <div class="card-body">
      {{#unless this.synopsis}}
      <button type="button" class="btn btn-sm btn-outline-secondary w-100 synopsis">Download description</button>
      {{/unless}}
      <p class="card-text line-Ñlamp cursor-pointer">{{this.synopsis}}</p>
    </div>
    <div class="card-footer">
      <div class="btn-group w-100">
        <button type="button"
          class="btn btn-sm add{{#if this.alreadyAdd}} btn-success{{else}} btn-outline-secondary{{/if}}">
          Add</button>
        <a href="{{this.url}}" target="_blank" class="btn btn-sm btn-outline-secondary" role="button"
          aria-pressed="true">MAL</a>
      </div>
    </div>
  </div>
</div>
{{/each}}