{{#each arrayOfTitles}}
<div id="{{this.mal_id}}" class="{{#if ../recommend}}col-md-4{{else}}col-md-3{{/if}} main-card">
  <div class="card mb-3 shadow-sm">
    <img class="img-thumbnail card-img-top" src="{{this.image_url}}" alt="{{this.title}}">
    </img>
    <div class="card-body">
      <h5>{{this.title}}</h5>
      <p class="card-text">{{this.synopsis}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <div type="button"
            class="{{#if this.alreadyAdd}}btn btn-sm btn-success add{{else}}btn btn-sm btn-outline-secondary add{{/if}}">
            Add</div>
          {{#unless this.synopsis}}
          <div type="button" class="btn btn-sm btn-outline-secondary synopsis">Download description</div>
          {{/unless}}
          <a href="{{this.url}}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">MAL</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
